<app-navbar></app-navbar>

<iframe style="margin:-31px -12px -49px -12px;" width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMWQxNGQyNDYtNWVhMi00OWYyLTkxNTEtYjllNWFkNzdlZDBkIiwidCI6IjhkNmVmNDcxLTA2MzItNGFjMS05NTE4LTI2NzI4MWU2YjdlZSJ9" frameborder="0" allowFullScreen="true"></iframe>
