<app-navbar></app-navbar>

<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Gestion des produits</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" routerLink="add">
            <mdb-icon fas icon="plus" size="2x"></mdb-icon>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Id</th>
          <th class="text-center">nom</th>
          <th class="text-center">prix</th>
          <th class="text-center">plafond</th>
          <th class="text-center">description</th>
          

        

          <th class="text-center" colspan="2">Actions</th>
        </tr>
        <tr *ngFor="let p of produitsList; let id = index">
          <td contenteditable="false">{{p.produit_id}}</td>
          <td contenteditable="false">{{p.nom}}</td>
          <td contenteditable="false">{{p.prix}}</td>
          <td contenteditable="false">{{p.plafond}}</td>
          <td contenteditable="false">{{p.description}}</td>
         
         

    
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="green" rounded="true" size="sm" class="my-0" routerLink="update/{{p.produit_id}}">Modifier</button>
            </span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(p.produit_id)">Supprimer</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="col ">
    <button type="button " class="btn btn-secondary pull-right" routerLink="/accueil">retour </button>
  </div>
</div>
<div class="toast {{classCss}}">
  <div class="row">
    <div class="col-4 offset-4">
      <div class="alert alert-{{type}}" role="alert">
        {{message}}
      </div> 
    </div>
  </div>
</div>
<!-- Editable table -->