
<app-navbar></app-navbar>
<br>
<div class="row">
  <div class="col-md-6 offset-md-4 align-items-center menu">
    <h3>CREATION D'UN PACK</h3>
    <div [hidden]="submitted" style="width: 300px;">
      <form>
       
        <div class="form-group" *ngIf="isAjouter">
          <label for="id">Id_pack</label>
          <input type="text" class="form-control" id="id_pack" required [(ngModel)]="pack.id_pack" name="id">
        </div>
        <div class="form-group" *ngIf="isAjouter==false">
          <label for="id">id</label>
          <input type="text" disabled class="form-control" id="id_pack" required [(ngModel)]="pack.id_pack" name="id">
        </div>
       
        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="input" class="form-control"  id="nom" required="required" required [(ngModel)]="pack.nom" name="nom">
        </div>

        <div class="form-group">
          <label for="prix">Prix</label>
          <input type="text" class="form-control" id="prix" required [(ngModel)]="pack.prix" name="prix">
        </div>
        <div class="form-group">
            <label for="Description">Description</label>
            <input type="text" class="form-control" id="Description" required [(ngModel)]="pack.description" name="Description">
          </div>

        

       
      </form>
    </div>

    <div>
      <button class="btn btn-success" (click)="submit()">{{action}}</button>
    </div>
    <div class="col">
      <button type="button " class="btn btn-secondary pull-right" routerLink="/gestionPack">retour </button>
    </div>
  </div>
</div>

