
<app-navbar></app-navbar>
<br>
<div class="row">
  <div class="col-md-6 offset-md-4 align-items-center menu">
    <h3>CREATION D'UN PRODUIT</h3>
    <div [hidden]="submitted" style="width: 300px;">
      <form>

        <div class="form-group"*ngIf="isAjouter">
          <label for="id">id</label>
          <input type="text" class="form-control" id="id" required [(ngModel)]="produit.produit_id" name="id">
        </div>

        <div class="form-group" *ngIf="isAjouter==false">
          <label for="id">id</label>
          <input type="text" disabled class="form-control" id="id" required [(ngModel)]="produit.produit_id" name="id">
        </div>

      

        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" class="form-control" id="nom" required="required" [(ngModel)]="produit.nom" name="nom">
        </div>

        <div class="form-group">
          <label for="prix">Prix</label>
          <input type="text" class="form-control" id="prix" required="required" required [(ngModel)]="produit.prix" name="prix">
        </div>

        <div class="form-group">
          <label for="plafond">Plafond</label>
          <input type="text" class="form-control" id="plafond" required="required" required [(ngModel)]="produit.plafond" name="plafond">
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" id="description" required [(ngModel)]="produit.description" name="description">
        </div>

      </form>
    </div>

    <div>
      <button class="btn btn-success" (click)="submit()">{{action}}</button>
    </div>
    <div class="col ">
      <button type="button " class="btn btn-secondary pull-right" routerLink="/gestionProduit">retour </button>
    </div>
  </div>
</div>

