<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Ma Banque</a></mdb-navbar-brand>
    
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-light" mdbWavesEffect href="/accueil">Home<span class="sr-only">(current)</span></a>
        </li>
        

  
      </ul>
      <!-- Links -->
  
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <div class="my-0">
          <button type="submit" class="btn btn-light btn-lg" (click)="onLogout()">logout</button>
        </div>
      </ul>
    </links>
    <!-- Collapsible content -->
    
  
  </mdb-navbar>
  <!--/.Navbar-->