
<app-navbar></app-navbar>
<div class="d-flex justify-content-center">
<div class="card"  style="margin-top:150px;width:728px;height:550px">
 
  <h5 class="card-header" style="text-align: center;">Envoyer un Mail</h5>
  <div class="card-body">
    <form  style="margin-left: 50px;margin-right: 50px; margin-top: 100px;">
      <div class="form-group">
        <label for="exampleFormControlInput1">Votre Email </label>
        <input type="email" class="form-control" id="setFrom" [(ngModel)]="mail.setFrom" placeholder="name@example.com"  name="setFrom">
      </div>
      <div [hidden]="(submitted)?type.valid:true" class="alert alert-danger">
        Veuillez selectionner un type de branche
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1"> Email Client </label>
        <input type="email" class="form-control" id="setTo"   [(ngModel)]="mail.setTo"  name="setTo" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Objet email</label>
        <input type="text" class="form-control" id="Objet"  [(ngModel)]="mail.subject" name="subject" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Texte</label>
        <textarea class="form-control" id="text" [(ngModel)]="mail.text" name="text" rows="5"></textarea>
      </div>
    </form>
    <div class="d-flex justify-content-center" style="margin-top:50px;">
      <button type="submit" (click)="submit()" class="btn btn-primary" style="width: 60px;height:30px;">Envoyer</button>
    </div>
  </div>
</div>
</div>






<!-- 
<div class="d-flex justify-content-center" style="margin-top:150px;">
  <div style="width:728px;height:550px;border-style: outset;">

    <div class="d-flex justify-content-center"><H3 class="text-primary" style="margin-top: 50px;">Envoyer un Mail</H3></div>

    <form  style="margin-left: 50px;margin-right: 50px; margin-top: 100px;">
      <div class="form-group">
        <label for="exampleFormControlInput1">Votre Email </label>
        <input type="email" class="form-control" id="setFrom" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlInput1">Votre Email </label>
        <input type="email" class="form-control" id="setTo" placeholder="name@example.com">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Objet email</label>
        <input type="text" class="form-control" id="Objet" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Texte</label>
        <textarea class="form-control" id="text" rows="5"></textarea>
      </div>
    </form>
    <div class="d-flex justify-content-center" style="margin-top:50px;">
      <button type="submit" class="btn btn-primary" style="width: 60px;height:30px;">Envoyer</button>
    </div>

</div>
</div>
 -->



<!-- <br>
<div class="row">
  <div class="col-md-6 offset-md-4 align-items-center menu">
    <h3>ENVOYER UN MAIL</h3>
    <div [hidden]="submitted" style="width: 300px;">
      <form>
        <div class="form-group">
          <label for="SetTo">SetTo</label>
          <input type="text"  class="form-control" id="SetTo" required="required" [(ngModel)]="client.id"  name="SetTo">
        </div>

        <div class="form-group">
          <label for="SetFrom">SetFrom</label>
          <input type="text" disabled value="mohamed.bengaidhassine@gmail.com" class="form-control" id="SetFrom"  required="required" [(ngModel)]="client.nom" name="SetFrom">
        </div>

        <div class="form-group">
          <label for="Subject">Subject</label>
          <input type="text" disabled value="Proposition produit" class="form-control" id="Subject"  required="required" required [(ngModel)]="client.prenom" name="prenom">
        </div>

        <div class="form-group">
          <label for="text">Text</label>
          <textarea type="text" class="champ" height="200px" id="text" required [(ngModel)]="client.mail" name="text"></textarea>

        </div>

  
      </form>
    </div>

    <div>
      <button class="btn btn-success" (click)="submit()">{{action}}</button>
    </div>
    <div class="col ">
      <button type="button " class="btn btn-secondary pull-right" routerLink="/gestionClient">retour </button>
    </div>
  </div>
</div> -->

