<!-- <

  <div class=row>

   <div class=col-xs-5 col-md-7 col-lg-9 >
     <div class="centreVerticalement1" style="background: url(/assets/bg1.jpg);"></div>
   
    </div>
    <div  class=col-xs-5 col-md-3 col-lg-1  centreVerticalement>
      <div class="login-page">
    <div class="form" >
     
      <form class="login-form" #f="ngForm" (ngSubmit)="onLogin(f.value)">
        <input id="login" type="text" placeholder="username" [(ngModel)]="login"  name="username" required />
        <input id="password" type="password" placeholder="password" [(ngModel)]="password"  name="password" required/>
     
       <button mdbBtn type="submit" color="primary" class="waves-light" mdbWavesEffect>login</button>
        
      </form>
    </div> 
 </div>

</div>
    
   </div> -->




   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
   
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css">
</head>
<body>
<div class="container" >
	<div class="d-flex justify-content-center h-100">
		<div class="card" >
			<div class="card-header">
				<h3>Sign In</h3>
			</div>
			<div class="card-body">
				<form class="login-form" #f="ngForm" (ngSubmit)="onLogin(f.value)">
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
            <input type="text" class="form-control" placeholder="username" [(ngModel)]="login"  name="username" >
            


					
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="password" [(ngModel)]="password"  name="password">
					</div>
					
					<div class="form-group btnlogin">
						<button style="margin-left:60px !important" mdbBtn type="submit" color="primary" class="waves-light" mdbWavesEffect>login</button>
					</div>
				</form>
			</div>
			
		</div>
	</div>
</div>
</body>
</html>