@keyframes myAnimation{
    0%{
        transform: translateY(100%);
        opacity: 1;
        display: block;  
    }
    90% {
        opacity: 1;
    }
    100%{
        opacity: 0;
        display: none;   
    }
}
h1{
    color: blue;
    size: 100px;
    position: relative;
    text-align: center;
}