<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Banque</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Opérations
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['/retrait']" routerLinkActive="router-link-active" >Retrait</a></li>
          <li><a [routerLink]="['/versement']" routerLinkActive="router-link-active" >Versement</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Clients
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['/clients']" routerLinkActive="router-link-active" >Chercher</a></li>
          <li><a [routerLink]="['/add-client']" routerLinkActive="router-link-active" >Ajouter</a></li>
          <li><a [routerLink]="['/update-client']" routerLinkActive="router-link-active" >Modifier</a></li>
          <li><a [routerLink]="['/deletee-client']" routerLinkActive="router-link-active" >Supprimer</a></li>
        </ul>
      </li>
      
      
    </ul>
  </div>
</nav>


<h1> Hello Again Dear Client</h1> -->

   <router-outlet></router-outlet>
 

