
<app-navbar></app-navbar>
<br>
<div class="row">
  <div class="col-md-6 offset-md-4 align-items-center menu">
    <h3>CREATION D'UN CLIENT</h3>
    <div [hidden]="submitted" style="width: 300px;">
      <form>
        <div class="form-group">
          <label for="id">id</label>
          <input type="text" disabled class="form-control" id="id" required="required" [(ngModel)]="client.id"  name="id">
        </div>

        <div class="form-group">
          <label for="nom">Nom</label>
          <input type="text" class="form-control" id="nom" maxlength="15" required="required" [(ngModel)]="client.nom" name="nom">
        </div>

        <div class="form-group">
          <label for="prenom">Prenom</label>
          <input type="text" class="form-control" id="prenom" maxlength="15" required="required" required [(ngModel)]="client.prenom" name="prenom">
        </div>

        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="text" class="form-control" id="email" required [(ngModel)]="client.mail" name="email">
        </div>

        <div class="form-group">
          <label for="datenaiss">Date de naissance</label>
          <input type="date" class="form-control" id="datenaiss" required [(ngModel)]="client.dateNaissance" name="datenaiss">
        </div>

  
      </form>
    </div>

    <div>
      <button class="btn btn-success" (click)="submit()">{{action}}</button>
    </div>
    <div class="col ">
      <button type="button " class="btn btn-secondary pull-right" routerLink="/gestionClient">retour </button>
    </div>
  </div>
</div>

