<app-navbar></app-navbar>

<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Mouvements</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">numero</th>
          <th class="text-center">nature</th>
          <th class="text-center">montant</th>
          <th class="text-center"  type="date" >dateOperation</th>
          <th class="text-center">sens</th>
        

         
        </tr>
        <tr *ngFor="let mouvement of mouvementList; let id = index">
          <td contenteditable="false">{{mouvement.numero}}</td>
          <td contenteditable="false">{{mouvement.nature}}</td>
          <td contenteditable="false">{{mouvement.montant}}</td>
          <td contenteditable="false">{{mouvement.dateOperation}}</td>
          <td contenteditable="false">{{mouvement.sens}}</td>
         

         
        </tr>
      </table>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="col ">
    <button type="button " class="btn btn-secondary pull-right" routerLink="/gestionCompte">retour </button>
  </div>
</div>
<div class="toast {{classCss}}">
  <div class="row">
    <div class="col-4 offset-4">
      <div class="alert alert-{{type}}" role="alert">
        {{message}}
      </div> 
    </div>
  </div>
</div>
