/* You can add global styles to this file, and also import other style files */
html {
    height:100%;
    body {
        height:100%;
        background:url("C:\Users\Lenovo\Desktop\Stage PFE/bg2.jpg") no-repeat center center;
        background-size:cover;
        .toast {
            position: fixed;
            bottom: 10%;
            width: 100%;
            animation-name: myAnimation;
            animation-duration: 2000ms;
            animation-fill-mode: forwards;
        }
        .toast.stop  {
            -webkit-animation-play-state: paused;
        }
        .toast.play {
            -webkit-animation-play-state: running;
        }
    }
}


