
<app-navbar></app-navbar>
<br>
<div class="row">
  <div class="col-md-6 offset-md-4 align-items-center menu">
    <h3>CREATION D'UN COMPTE</h3>
    <div [hidden]="submitted" style="width: 300px;">
      <form>
       
        <div class="form-group" *ngIf="isAjouter">
          <label for="id">id</label>
          <input type="text" class="form-control" id="id" required [(ngModel)]="compte.codeCompte" name="id">
        </div>
        <div class="form-group" *ngIf="isAjouter==false">
          <label for="id">id</label>
          <input type="text" disabled class="form-control" id="id" required [(ngModel)]="compte.codeCompte" name="id">
        </div>
       
        <div class="form-group">
          <label for="dateCreation">dateCreation</label>
          <input type="date" class="form-control"  id="dateCreation" required="required" required [(ngModel)]="compte.dateCreation" name="dateCreation">
        </div>

        <div class="form-group">
          <label for="solde">Solde</label>
          <input type="text" class="form-control" id="solde" required [(ngModel)]="compte.solde" name="solde">
        </div>

        <div class="form-group" *ngIf="isAjouter">
          <label for="client-id">client-id</label>
          <input type="text" class="form-control" id="client-id" required [(ngModel)]="compte.client_id" name="client-id">
        </div>

       
      </form>
    </div>

    <div>
      <button class="btn btn-success" (click)="submit()">{{action}}</button>
    </div>
    <div class="col ">
      <button type="button " class="btn btn-secondary pull-right" routerLink="/gestionCompte">retour </button>
    </div>
  </div>
</div>

