
<app-navbar></app-navbar>
<br>
<div class="row">
  <div class="col-md-6 offset-md-4 align-items-center menu">
    <h3 >CREATION D'UN UTILISATEUR</h3>
    <div [hidden]="submitted" style="width: 300px;">
      <form>

        <div class="form-group">
          <label for="id">id</label>
          <input type="text" disabled class="form-control" id="id" required="required" [(ngModel)]="user.id"  name="id">
        </div>

        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" required="required" [(ngModel)]="user.username" maxlength="15" name="username">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" required="required" required [(ngModel)]="user.password" maxlength="4" name="password">
        </div>

      

        
        <div class="form-group">
          <label class="control-label" for="Role">Role</label>
          <select id="Role" class="form-control" name="Role" required [(ngModel)]="user.role">
              <option value="admin" >admin</option>
              <option value="marketeur">marketeur</option>
             
          </select> 
      </div>
      </form>
    </div>

    <div>
      <button class="btn btn-success" (click)="submit()">{{action}}</button>
    </div>
    <div class="col ">
      <button type="button " class="btn btn-secondary pull-right" routerLink="/gestionUtilisateur">retour </button>
    </div>
  </div>
</div>

