<app-navbar></app-navbar>
<div *ngIf="isAdmin" class="row">
    <div class="col-md-6 offset-md-4 align-items-center menu">
      <br> <br> <br> <br>
      <button  *ngIf="isAdmin" type="button" class="btn btn-primary btn-lg btn-block" style="width:60%" routerLink="/gestionUtilisateur">GESTION DES UTILISATEURS</button>
      <button *ngIf="isAdmin" type="button" class="btn btn-primary btn-lg btn-block" style="width:60%" routerLink="/gestionClient">GESTION DES CLIENTS</button>
      <button *ngIf="isAdmin" type="button" class="btn btn-primary btn-lg btn-block" style="width:60%" routerLink="/gestionCompte">GESTION DES COMPTES</button>
      <button *ngIf="isAdmin" type="button" class="btn btn-primary btn-lg btn-block" style="width:60%" routerLink="/gestionProduit">GESTION DES PRODUITS</button>
      <button *ngIf="isAdmin" type="button" class="btn btn-primary btn-lg btn-block" style="width:60%" routerLink="/gestionPack">GESTION DES PACKS</button>

   
    <!-- <div class ="row no-gutters">
      <div class ="col no-gutters">
        <div class="leftside">
          <button *ngIf="!isAdmin" type="button" class="btn btn-dark" style="width:60%" routerLink="/utilisationProduit" >UTILISATION PRODUITS</button>
          <button *ngIf="!isAdmin" type="button" class="btn btn-dark" style="width:60%" routerLink="/utilisationProduit" >UTILISATION PRODUITS</button>
        </div>
      </div>
      <div class ="col no-gutters">
        <div class="rightside">
          <iframe *ngIf="!isAdmin"  width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNjE0ODFhODMtZTYwOS00YmU4LTg4MDAtODk5MmVkOTBmMTY1IiwidCI6IjhkNmVmNDcxLTA2MzItNGFjMS05NTE4LTI2NzI4MWU2YjdlZSJ9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>

    </div>
           -->
        

          </div>
</div>
        
       <div   *ngIf="!isAdmin" >
          <table >
           <tr>
              <td>
               
                    <br> <br> <br> <br>
              <button  type="button" class="btn btn-dark" style="width:60%" routerLink="/MethodesDePaiement" >METHODES DE PAIEMENT</button>
              <button type="button" class="btn btn-dark" style="width:60%" routerLink="/TypesOperations" >TYPES D'OPERATIONS</button>
              <button  type="button" class="btn btn-dark" style="width:60%" routerLink="/EtudeClients" >ETUDE DES CLIENTS</button>
                    
 
            </td>
            <td>
         
               <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNjE0ODFhODMtZTYwOS00YmU4LTg4MDAtODk5MmVkOTBmMTY1IiwidCI6IjhkNmVmNDcxLTA2MzItNGFjMS05NTE4LTI2NzI4MWU2YjdlZSJ9" frameborder="0" allowFullScreen="true"></iframe>
             
              </td>  
             
          

</tr>
</table>
       </div>