.btn btn-primary
{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width:50px;
}

        .menu {
            margin-left:500px;
            button {
                margin:50px 0;
               
            }

            .btn btn-dark{
                display: block;
                position: relative;
                margin-left: auto;
                margin-right: auto;
                width:50px;
            }
    

    }
.btn{
    margin-bottom: 70px;
    margin-left: 50px;
    
}

