<app-navbar></app-navbar>
<div class="d-flex justify-content-center">


<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiZWY1MmE3MmEtMTJjMi00Yjk2LWJlYTQtYmFiMjM2ZmI3Mjk4IiwidCI6IjhkNmVmNDcxLTA2MzItNGFjMS05NTE4LTI2NzI4MWU2YjdlZSJ9" frameborder="0" allowFullScreen="true"></iframe>


</div>
<div class="d-flex justify-content-center">
<br> <br> <br>

<button  type="button"  style="margin-top: 40px;margin-bottom: 30px;width: 200px; height: 45px;" class="btn btn-dark"  routerLink="/mail" >Envoyer Email</button></div>
